<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="MBeanServerConnectionProvider" name="net.jmesnil.jmx.core.MBeanServerConnectionProvider" schema="schema/MBeanServerConnectionProvider.exsd"/>
   <extension
         point="net.jmesnil.jmx.core.MBeanServerConnectionProvider">
      <connectionProvider
            class="net.jmesnil.jmx.core.internal.providers.DefaultConnectionProvider">
      </connectionProvider>
   </extension>
</plugin>
