<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.eclipsemonkey.dom">
      <dom
            class="net.jmesnil.jmx.monkey.doms.JMXDOMFactory"
            id="jmx"
            resource="net.jmesnil.jmx.monkey.doms.ScriptableMBeanServerConnection"
            variableName="jmx"/>
   </extension>
</plugin>
