<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JMX"
            id="net.jmesnil.jmx.ui.views">
      </category>
      <view
            name="%MBeanView.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.MBeanView"
            id="net.jmesnil.jmx.ui.internal.views.MBeanView">
      </view>
      <view
            name="%MBeanInfoView.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.MBeanInfoView"
            id="net.jmesnil.jmx.ui.internal.views.MBeanInfoView">
      </view>
      <view
            name="%MBeanOperationInvocationView.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.MBeanOperationInvocationView"
            id="net.jmesnil.jmx.ui.internal.views.MBeanOperationInvocationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.jmesnil.jmx.ui.internal.perspectives.JMXPerspective"
            icon="icons/releng_gears.gif"
            id="net.jmesnil.jmx.ui.perspectives.JMXPerspective"
            name="JMX">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.jmesnil.jmx.ui.internal.views.MBeanViewContribution"
            targetID="net.jmesnil.jmx.ui.internal.views.MBeanView">
         <action
               class="net.jmesnil.jmx.ui.internal.actions.MBeanServerConnectAction"
               disabledIcon="icons/full/dlcl16/attachAgent.gif"
               icon="icons/full/elcl16/attachAgent.gif"
               id="net.jmesnil.jmx.ui.internal.actions.MBeanServerConnectAction"
               label="%ConnectAction.label"
               menubarPath="connect"
               state="true"
               style="push"
               toolbarPath="connect">
         </action>
         <action
               class="net.jmesnil.jmx.ui.internal.actions.MBeanServerDisconnectAction"
               disabledIcon="icons/full/dlcl16/detachAgent.gif"
               icon="icons/full/elcl16/detachAgent.gif"
               id="net.jmesnil.jmx.ui.internal.actions.MBeanServerDisconnectAction"
               label="%DisconnectAction.label"
               menubarPath="connect"
               state="true"
               style="push">
         </action>
      </viewContribution>
   </extension>
</plugin>
