<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JMX"
            id="net.jmesnil.jmx.ui.views">
      </category>
      <view
            name="%MBeanExplorer.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.explorer.MBeanExplorer"
            id="net.jmesnil.jmx.ui.internal.views.explorer.MBeanExplorer">
      </view>
      <view
            name="%MBeanInfoView.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.MBeanInfoView"
            id="net.jmesnil.jmx.ui.internal.views.MBeanInfoView">
      </view>
      <view
            name="%MBeanOperationInvocationView.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.opinvocation.MBeanOperationInvocationView"
            id="net.jmesnil.jmx.ui.internal.views.opinvocation.MBeanOperationInvocationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.jmesnil.jmx.ui.internal.perspectives.JMXPerspective"
            icon="icons/releng_gears.gif"
            id="net.jmesnil.jmx.ui.perspectives.JMXPerspective"
            name="JMX">
      </perspective>
   </extension>
</plugin>
