<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JMX"
            id="net.jmesnil.jmx.ui.views">
      </category>
      <view
            name="%MBeanExplorer.name"
            icon="icons/sample.gif"
            category="net.jmesnil.jmx.ui.views"
            class="net.jmesnil.jmx.ui.internal.views.explorer.MBeanExplorer"
            id="net.jmesnil.jmx.ui.internal.views.explorer.MBeanExplorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MBean Editor"
            id="net.jmesnil.jmx.ui.internal.editors.MBeanEditor"
            class="net.jmesnil.jmx.ui.internal.editors.MBeanEditor"
            extensions="jmx"
            icon="icons/releng_gears.gif">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
         <actionSet
            label="%MBeanActionSet.label"
            description="%MBeanActionSet.description"
            visible="false"
            id="net.jmesnil.jmx.ui.MBeanActionSet">
           <action
               id="openMBean"
               class="net.jmesnil.jmx.ui.internal.actions.OpenMBeanAction"
               definitionId="net.jmesnil.jmx.ui.navigate.open.mbean"
               label="%OpenMBeanAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenMBeanAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.jmesnil.jmx.ui.internal.perspectives.JMXPerspective"
            icon="icons/releng_gears.gif"
            id="net.jmesnil.jmx.ui.perspectives.JMXPerspective"
            name="JMX">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.jmesnil.jmx.ui.perspectives.JMXPerspective">
           <actionSet
               id="net.jmesnil.jmx.ui.MBeanActionSet" />
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ActionDefinition.openMBean.name"
            description="%ActionDefinition.openMBean.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="net.jmesnil.jmx.ui.navigate.open.mbean">
      </command>    
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
           sequence="M1+M2+M"
           commandId="net.jmesnil.jmx.ui.navigate.open.mbean"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
</plugin>
